
@{
    ViewBag.Title = "Node";
}

<div class="jumbotron">
    <h1>@ViewBag.NodeTitle</h1>
</div>
<div class="body-content">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <p>@ViewBag.NodeBody</p>
        <p class="lead">@ViewBag.NodeQuestion</p>
            
        @if (ViewBag.NodeChoices.Count > 0)
        { 
            foreach (var c in ViewBag.NodeChoices)
            { 
                <p><a href="/Node/View/@c.Key" class="btn btn-default btn-block">@c.Value</a></p>
            }
        }

        <form action="/Node/Create/@ViewBag.NodeID" method="get" class="form-horizontal hidden" id="addFrm">
            <div class="form-group col-md-11">
                <input type="text" name="choice" placeholder="My Choice" class="form-control" />
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-success">+</button>
            </div>
        </form>
        <p><button class="btn btn-success" id="addBtn" onclick="$('#addFrm').removeClass('hidden'); $('#addBtn').addClass('hidden');">+ Add to the Story</button></p>
    </div>
    <div class="col-md-3">
        <blockquote>
            <p><a href="/User/@ViewBag.NodeCreator">@ViewBag.NodeCreator</a> created this story element on @ViewBag.NodeDate.ToLongDateString().</p>
        </blockquote>
        <blockquote>
            <p>So far, @ViewBag.NodeVisits travellers have passed this way.</p>
        </blockquote>
    </div>
</div>

